


    <%= simple_form_for(@wedding, :url => wizard_path(step, wedding_id: @wedding.id), :method => :put, html: { class: 'form-horizontal'}) do |f| %>
      <%= f.error_notification %>
        <div class="form-inputs">
    

    <div><h6> ADD PHOTOS</h6>  </div>


        <%= render :file => "pins/new" %>
    
      <div class="form-actions center">
        <%= f.button :submit, value: "Next" %>
      </div>



    <% end %>

    <!-- WEDDING PREVIEW PAGE --> 
  	<%= render :file => "weddings/show" %>

