WEDDING DETAILS


<!-- FORM AND LABELS -->

<%= simple_form_for(@wedding, :url => wizard_path(step, wedding_id: @wedding.id), :method => :put, html: { class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>
    <div class="form-inputs">
<div><h6> Your Names </h6>  </div>


    <div class="formrow center">
      <%= f.input :bridename, placeholder: "The Bride's Name", label: false %>
      <h2 class="inline">  &</h2>
      <%= f.input :groomname, placeholder: "The Groom's Name", label: false %>
    </div>


<div><h6> Your Wedding </h6></div>
    <div class="formrow center">
      <%= f.text_field :weddingdate, label: "Wedding Date" %> 
      <!-- OLD STYLE DATE FORMAT <%= f.input :weddingdate, label: "Wedding Date" %> -->
      <%= f.input :weddingcity, label: "City" %>
      <%= f.input :weddingstate, label: "State" %>
    </div>


<div><h6> Your Personal Link </h6></div>
    <div class="formrow center">
      <p class="inline"> www.namastewedding.com/</p> 
      <%= f.input :url, placeholder: "i.e. 'arjunandnisha' ", label: false %> 
    </div>

  </div>


  <div class="form-actions center">
    <%= f.button :submit, value: "Next" %>
  </div>



<% end %>

<%= link_to 'skip', next_wizard_path(wedding_id: @wedding.id) %>