<%= simple_form_for(@inviterequest, html: { class: 'form-horizontal'}) do |f| %>
  <% if @inviterequest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inviterequest.errors.count, "error") %> prohibited this inviterequest from being saved:</h2>

      <ul>
      <% @inviterequest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
<DIV
  <div class="inviteform">
    
    <div class="field">
      <!-- <%= f.input :name, :placeholder => 'Your name, please', label: false  %> -->
      <!-- <%= f.input :institution, :placeholder => 'Company or university', label: false  %> -->
      <%= f.input :email, :placeholder => 'enter your email, please', label: false %>
      
    </div>
    
    <div class="actions">
      <%= f.submit "SUBMIT", class: "btn btn-primary btn-special" %>
    </div>

  </div>
<% end %>
