<h1>Listing inviterequests</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inviterequests.each do |inviterequest| %>
  <tr>
    <td><%= inviterequest.name %></td>
    <td><%= inviterequest.email %></td>
    <td><%= link_to 'Show', inviterequest %></td>
    <td><%= link_to 'Edit', edit_inviterequest_path(inviterequest) %></td>
    <td><%= link_to 'Destroy', inviterequest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inviterequest', new_inviterequest_path %>
