<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @inviterequest.name %>
</p>

<p>
  <b>Email:</b>
  <%= @inviterequest.email %>
</p>


<%= link_to 'Edit', edit_inviterequest_path(@inviterequest) %> |
<%= link_to 'Back', inviterequests_path %>
