 <div class="thankyoubox">
    
    <p class="white">Hey, thanks! <br><br> We are still working on some things and will email you when we are ready to roll. </p>

    <p class="smallcaps"> <br> SHARE WITH FRIENDS IN THE MEANTIME. </p>
 
    <div class="socialbuttons">
			<div class="twitter">
    		<%= link_to (image_tag("twitter2.png")), "#" %>
    		
    	</div>
    	<div class="facebook">
    		<%= link_to (image_tag("facebook2.png")), "#" %>
    	</div>
    </div>

 </div>



<!-- DEFAULT STUFF, KEEP FOR LATER

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @inviterequest.name %>
</p>

<p>
  <b>Email:</b>
  <%= @inviterequest.email %>
</p>


<%= link_to 'Edit', edit_inviterequest_path(@inviterequest) %> |
<%= link_to 'Back', inviterequests_path %>

-->