 <div class="landingpage">
  <%= image_tag("logo.png") %>
  <div class="invitebox">
    
    <br> <br> <br>
    <h3>THANK YOU </h3>
    <h4> We are working hard to launch soon <br> and will be in touch. </h4>

    <%= image_tag("smalldivider.png") %>

    <p class="smallcaps"> <br> SHARE WITH FRIENDS IN THE MEANTIME </p>
 
        <div class="socialbuttons">
    			<div class="twitter">
        		<%= link_to (image_tag("twitter2.png")), "https://twitter.com/intent/tweet?screen_name=namastewedding&text=is%20making%20Indian%20wedding%20planning%20easy.%20I%20just%20requested%20my%20invitation.%20%23indianwedding%20www.namastewedding.com", :target => '_blank' %>
        		
        	</div>
        	<div class="facebook">
        		<%= link_to (image_tag("facebook2.png")), "https://www.facebook.com/pages/Namaste-Wedding/359192570873560" %>
        	</div>
        </div>

 </div>
</div>



<!-- DEFAULT STUFF, KEEP FOR LATER

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @inviterequest.name %>
</p>

<p>
  <b>Email:</b>
  <%= @inviterequest.email %>
</p>


<%= link_to 'Edit', edit_inviterequest_path(@inviterequest) %> |
<%= link_to 'Back', inviterequests_path %>

-->