<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @wedding.url %>
</p>

<p>
  <b>Bridename:</b>
  <%= @wedding.bridename %>
</p>

<p>
  <b>Groomname:</b>
  <%= @wedding.groomname %>
</p>

<p>
  <b>Weddingdate:</b>
  <%= @wedding.weddingdate %>
</p>

<p>
  <b>Weddingcity:</b>
  <%= @wedding.weddingcity %>
</p>

<p>
  <b>Weddingstate:</b>
  <%= @wedding.weddingstate %>
</p>


<%= link_to 'Edit', edit_wedding_path(@wedding) %> |
<%= link_to 'Back', weddings_path %>
