


<br>

<h2><%= @wedding.bridename %> & <%= @wedding.groomname %> </h2> 
<h3>  <%= @wedding.weddingdate %> | <%= @wedding.weddingcity %>,   <%= @wedding.weddingstate %> </h3>

<div class="center" ><%= image_tag("day1divider.png") %> </div>
<br>
<h4> <%= @wedding.day1_event1 %>  </h4>
<h3> venue of event </h3>

<div class="gallery-container center">
  <div class="row center"> 
    <div class="col-lg-12"> </div> 
 
    <div class="col-lg-6"> </div> 
    <div class="col-lg-6"> </div>
  
    <div class="col-lg-4"> </div> 
    <div class="col-lg-4"> </div> 
    <div class="col-lg-4"> </div>
  <div>
</div>
<!-- 
<p id="notice"><%= notice %></p>
<%= @wedding.url %> 

<%= link_to 'Back', weddings_path %>
-->
<%= link_to 'Edit', edit_wedding_path(@wedding) %> 