<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    
      
      <div id="navbarwrapper"> 
        <div id="logo"> <%= link_to "namaste wedding", href="#", id: "logo" %> </div>
        <ul class="nav pull-left">
        
          <% if user_signed_in? %>
            
            <li> <%= link_to "INSPIRATION", pins_path %> </li>
            <li> <%= link_to "LOCAL VENDORS", href="#" %> </li>


          <% else %> 
          <% end %>
        </ul>

     <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        


       
        <ul class="nav pull-right">
        
                
          <% if user_signed_in? %>
            <div class="dropdown">
              <ul class="nav">
                <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Hi, Nisha <span class="caret"></span> </a>
                  
                  <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu">
                    <li> <%= link_to "My Dashboard", users_show_path %> </li>
                    <li> <%= link_to "Edit Profile", edit_user_registration_path %> </li>
                    <li class="divider"></li>
                    <li> <%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
                  </ul>
                  
                  
               <% else %>  

                <li> <%= link_to "Login", new_user_session_path %> </li>

               <% end %>

              </ul>
            </div>
            
         
        </ul>
        
        
      </div>

      </div>
      


      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <!-- <a class="brand" id="logo"><span style="font-weight:600">JOB</span>SHOP</a> -->
  
 
 
  </div>
</div>