<!DOCTYPE html>
<html>
<head>
  <title>NAMASTE WEDDING</title>
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Simonetta' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Jacques+Francois' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Rosarivo' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>


	<%= render 'layouts/header' %>
	
	<div class="container"> 
      <% flash.each do |name, msg| %>
       		<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
  		<% end %>
      
      <%= yield %>
	</div>
  
  <%= render 'layouts/footer' %>
 

</body>
</html>
